{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {%static  'venta/css/estilo_css_barra_navegacion.css' %}">
    <link rel="stylesheet" href=" {%static  'venta/css/estilologin.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body style="background-color: #1bb3b8;">
    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href=" {%url 'index' %} ">MasterBikes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login' %} ">Iniciar sesion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href=" {%url 'compra' %} ">Compra</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios 
                        </a>
                        

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href=" {%url 'reparacion' %} ">Reparacion</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>


                            

                            <li><a class="dropdown-item" href=" {%url 'arriendo' %} ">Arriendo</a></li>
                            
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="./Noticias.html">Accesorios</a></li> 
                           
                        </ul>



                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Iniciar Sesion
                </div>
                <div class="login" >
                    <form action=" {%url 'check' %} " id="formulario">
                        
                        <input type="text" id="Correo"  class="form-label" name="Correo" placeholder="Correo"  >
                    
                        <input type="password" id="contraseña" name="contraseña" placeholder="contraseña">
                        <br>
                        <br>
    
                        <div>
    
                        <a href="{%url 'check' %}">
                            <button  title="Ingresar" id="iniciar" name="Ingresar">Iniciar</button></a>

                    </form>
             

                    </div>
                    <script>
                        $(document).ready(function(){
                            //Este es el comentario de una linea en javascript
                            $("#formulario").validate({
                                rules: {
                                    contraseña: {
                                        required: true,
                                        minlength: 5
                                    },
                                    Correo: {
                                        required: true,
                                        email: true
                                    }
                                },
                                messages: {
                                    contraseña: {
                                        required:   "Por favor ingrese contraseña correcta.",
                                        minlength: "Ingrese al menos 5 caracteres."
                                    },
                                    Correo: {
                                        required: "Por favor ingrese su direccion de correo electronico.",
                                        email: "Por favor introduzca una direccion de correo valida."
                                    }
                                }
                            });
                        });
                    </script>

                  
                  

                    </div>
                <div class="pie-form">
                    <a href=" {%url 'recuperar contraseña' %} ">¿Perdiste tu contraseña?</a>
                    <a href=" {%url 'Crear Cuenta' %}">¿No tienes Cuenta? Registrate</a>
                </div>
            </div>
            <div class="inferior">
                <a href=" {%url 'index' %} ">Volver</a>
            </div>
        </div>
    </div>
    
</body>
</html>